<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fing </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>
<body>
    <header>
        <h1>Fing</h1>
        
        <h4><a href="/history" style="font-weight: 700; text-decoration: underline;color: white;">Click to see history</a></b></h4>
        <form action="/results" method="get">
            <fieldset>
                <input type="text" name="query" placeholder="Enter what you want to search" id="id_query">

                <button type="submit" id="search-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M23.809 21.646l-6.205-6.205c1.167-1.605 1.857-3.579 1.857-5.711 0-5.365-4.365-9.73-9.731-9.73-5.365 0-9.73 4.365-9.73 9.73 0 5.366 4.365 9.73 9.73 9.73 2.034 0 3.923-.627 5.487-1.698l6.238 6.238 2.354-2.354zm-20.955-11.916c0-3.792 3.085-6.877 6.877-6.877s6.877 3.085 6.877 6.877-3.085 6.877-6.877 6.877c-3.793 0-6.877-3.085-6.877-6.877z"/></svg></button>
            </fieldset>
        </form>
        <br>

        <h3 > Thought of the Day <h3>
        <br>
        <h2> {{ quote }} </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>Website Crawler made with Python and ❤️</h3>
    </header>

</body>
</html>
